{% extends "base.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'quizes/main.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
home
{% endblock title %}

{% block content %}

<!-- Modal -->
<div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Start?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-confirm"></div>
      <div class="modal-footer">
        <button type="button" style="background-color: #94bbe9;" class="btn" data-dismiss="modal">No</button>
        <button type="button" style="background-color: #eeaeca;" id="start-button" class="btn">Yes</button>
      </div>
    </div>
  </div>
</div>

<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <!-- <a class="navbar-brand" href="#">Eclipse</a> -->
      <a class="navbar-brand" href="index.html">
        <img src="{% static 'img/logo.png'%}" alt="" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="False" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarText">
        <ul class="navbar-nav ms-auto">
          <!-- <li class="nav-item">
            <a style = "color:white;" class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a style = "color:white;" class="nav-link" href="/contact">Contact Us</a>
          </li> -->

          {% if user.is_authenticated %}

          <li class="nav-item">
            <a style="color:white;" class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>
          <li class="nav-item">
            <a style="color:white;" class="nav-link" href="/logout">Logout</a>
          </li>

          {% else %}

          <li class="nav-item">
            <a style="color:white;" class="nav-link" href="/login">Login</a>
          </li>

          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
<hr>
  {% for obj in object_list %}
  <button type="button" style="color: black; background-color: #fa60cc; width:358px !important; margin-bottom:10px;"
    class="btn btn-link modal-button btn-lg active" data-pk="{{obj.pk}}" data-quiz="{{obj.name}}"
    data-questions="{{obj.number_of_questions}}" data-difficulty="{{obj.difficluty}}" data-time="{{obj.time}}"
    data-pass="{{obj.required_score_to_pass}}" data-toggle="modal" data-target="#quizStartModal">
    {{obj.name}}
  </button>
<br>
{% endfor %}
{% endblock content %}